.list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.listContainer {
	max-height: 35vh;
	padding-right: 10px;
	overflow-y: auto;
}

.item {
	position: relative;
	display: flex;
	padding-left: 32px;
	align-items: center;
}

.total {
	display: flex;
	align-items: center;
	margin-left: auto;
    justify-content: flex-end;
}