.order a:hover {
	text-decoration: none;
}

.column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 150px;
}

.feeds {
	max-height: calc(92vh - var(--height-header));
	overflow-y: auto;
	padding-right: 20px;
}