.link {
	display: inline-block;
}

button.link {
	border: none;
	background: transparent;
	cursor: pointer;
}

button.link:hover {
	text-decoration: underline;
}

.container {
	display: flex;
}

.menu {
	width: 320px;
}

.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.form {
	min-width: 480px;
}

.orders {
	flex: auto;
}

.info {
	opacity: .4;
}