.item {
	text-align: center;
}

.item_clickable {
	cursor: pointer;
}

.imageContainer {
	position: relative;
}

.image {
	max-width: 100%;
}

.price {
	display: flex;
	align-items: center;
	justify-content: center;
}
