:root {
	--min-width-window: 1200px;

	--max-width-modal: 720px;
	--border-modal: #4c4cff33;
	--background-overlay: #00000099;

	--z-index-modal: 10;
	--z-index-overlay: 9;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: var(--text-primary-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

button:disabled {
	pointer-events: none;
	opacity: 0.6;
}

.container {
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -20px;
	margin-right: -20px;
}

.col-6 {
	flex: 0 0 auto;
	width: 50%;
	padding-left: 20px;
	padding-right: 20px;
}

.constructor-element {
	max-width: none;
}

.input__container {
	width: 100%;
}

.input_size_default {
	width: auto;
}

.has-modal {
	overflow: hidden;
}

.btn-clear {
	padding: 0;
	margin: 0;
	background: transparent;
	border: none;
}
