.headerContainer {
	background-color: var(--background);
}

.header {
	display: flex;
	align-items: center;
	height: var(--height-header);
}

.headerLogo {
	padding-left: 8.75%;
}

.headerUser {
	margin-left: auto;
}

.user {
	text-decoration: none;
	display: flex;
	align-items: center;
	border-radius: var(--common-border-radius-s);
	color: var(--text-primary-color);
	border: none;
	background: transparent;
	cursor: pointer;
}

.link_inactive svg {
	fill: var(--text-inactive-color);
}