.list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.link {
	display: flex;
	align-items: center;
	border-radius: var(--common-border-radius-s);
}

.link_inactive svg {
	fill: var(--text-inactive-color);
}